.strategies {
  background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
}

.strategies__container {
  max-width: 1200px;
  margin: 0 auto;
  gap: 15px;
  padding: 100px 50px 150px;
}

.strategies__list {
  display: flex;
  justify-content: center; /* Центрируем слайды */
  gap: 31px;
}

/* Обычное отображение на больших экранах */
.strategy {
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  max-width: 351px;
  flex-shrink: 0; /* Запрещаем сжать слайды */
  opacity: 1;
  display: block; /* Слайды показываются как обычные элементы */
}

.strategy__img > img {
  object-fit: cover;
  max-width: 100%;
}

.strategy__data {
  padding: 24px;
}

.strategy__title {
  padding: 12px 25px 40px 25px;
}

.carousel-indicators {
  display: none; /* Скрываем кнопки (точки) слайдера по умолчанию */
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.carousel-indicators > .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #EFEFEF;
  cursor: pointer;
}

.carousel-indicators > .dot.active {
  background: #333;
}

/* На экранах меньше или равно 1136px, слайдер становится активным */
@media screen and (max-width: 1136px) {
  .strategies__list {
    display: flex;
    overflow: hidden; /* Скрываем лишние слайды */
    gap: 0; /* Убираем промежутки между слайдами */
    width: 100%; /* Обеспечиваем, чтобы слайды не выходили за пределы */
  }

  .strategy {
    flex: 0 0 100%; /* Слайды занимают 100% ширины экрана */
    display: none; /* Скрываем слайды по умолчанию */
  }

  .strategy.active {
    display: block; /* Показываем только активные слайды */
  }

  .carousel-indicators {
    display: block;
    margin-top: 20px;
    text-align: center;
  }

  .carousel-indicators > .dot {
    display: inline-block;
    margin: 0 5px;
  }

  .strategies__container > .title,
  .strategies__container > .sub-title {
  text-align: center;

  }
}
